body{
	margin:0;
	background-color: #efefef;
}
header {
	font-size: 20px;
	background-color: black;
	color: #cccccc;
	height: 75px;
}
#topbar{
	width:75%;
	margin-left: auto ;
    margin-right: auto ;
}
nav {
	float: right;
}
nav li{
	display: inline;
	padding-right: 30px;
}
.logo {
	float:left;
	font-size:30px;
	padding-left:20px;
	padding-top:20px;
}

.box{
	margin-top: 20px;
	width:75%;
	margin-left: auto ;
    margin-right: auto ;
    height: 400px;
}

.blog-post{
	margin-top:20px;
	float:left;
}
.blog-heading{
	font-size: 36px;
	margin-bottom:20px;
}
.sidebar{
	float:right;
}
footer{	
	color: white;	
	margin-left: auto ;    
	margin-right: auto ;	
	font-size:16px;	
	min-height: 50px;	
	padding:20px;	
	background-color: black;	
}
#footer{	
	width:75%;
	margin-left: auto ;    
	margin-right: auto ;
}


pre {
    background: #0f172a;          /* dark background */
    color: #e5e7eb;               /* light text */
    padding: 1rem;
    border-radius: 8px;
    overflow-x: auto;
    font-family: "Fira Code", "JetBrains Mono", "Consolas", monospace;
    font-size: 0.9rem;
    line-height: 1.5;
    margin: 1rem 0;
}

code {
    background: rgba(15, 23, 42, 0.6);
    padding: 0.2rem 0.4rem;
    border-radius: 4px;
    font-family: "Fira Code", "JetBrains Mono", "Consolas", monospace;
}
